* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 24px;
    background: linear-gradient(to bottom right, #00254f, #641594);
    color: #eee;
}

main {
    max-width: 800px;
    margin: 4px auto;
    padding: 10px;
    text-align: center;
}

section {
    border-radius: 8px;
    background: #eee;
    box-shadow: 5px 5px 10px #000;
    color: #00254f;
    padding: 12px;
    margin: 12px 0;
}

fieldset {
    border: none;
}

label, input {
    text-align: start;
    display: block;
    padding: 8px;
    margin: 6px auto;
    width: 100%;
    max-width: 400px;
    border: none;

}

input {
    border-radius: 8px;
    box-shadow: 2px 2px #641594;
}

input:focus {
    outline: 2px solid #641594;
    border-radius: 8px;
}

button {
    width: 100px;
    height: 40px;
    background-color: #00254f;
    color: #eee;
    border-radius: 8px;
}